.rockCo {
  height: 6rem;
  position: absolute;
  transform: scale(0, 0);
  opacity: 0;
  animation: rock 1.5s linear 0s infinite;
}
.paperCo {
  height: 6rem;
  position: absolute;
  transform: scale(0, 0);
  opacity: 0;
  animation: rock 1.5s linear 0.5s infinite;
}
.scissorsCo {
  height: 6rem;
  position: absolute;
  transform: scale(0, 0);
  opacity: 0;
  animation: rock 1.5s linear 1s infinite;
}
@keyframes rock {
  20% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
    margin-left: -7.5rem;
  }
  40% {
    transform: scale(1.1, 1.1);
    opacity: 1;
    margin-left: -4rem;
  }
  60% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
    margin-left: 0rem;
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
    margin-left: -3rem;
  }
}
