/* ======================== */
body {
  background: rgb(64, 186, 200);
  background: linear-gradient(
    90deg,
    rgba(64, 186, 200, 1) 20%,
    rgba(48, 190, 162, 1) 80%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homepage-title {
  margin: 3rem 0rem;
  color: whitesmoke;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.25rem;
  word-spacing: 1rem;
}
.homepage-image {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.homepage-image img {
  height: 10rem;
  padding: 1rem;
  margin: 0rem 1rem;
  transition: all 0.2s ease-in-out;
}
.homepage-image img:nth-child(1):hover,
.homepage-image img:nth-child(2):hover,
.homepage-image img:nth-child(3):hover {
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.description {
  color: whitesmoke;
  margin: 3rem 0rem;
  font-size: 1.75rem;
  text-align: center;
  line-height: 2.5rem;
}

/* Button Start Play */
button {
  display: block;
  text-align: center;
  margin: 2rem auto;
}
.primary-btn,
#playAgain-btn,
#homepage-btn {
  cursor: pointer;
  outline: 0;
  display: block;
  font-weight: 400;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: whitesmoke;
  color: whitesmoke;
  border: 0.2rem solid whitesmoke;
  padding: 0.4rem 1.8rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}
.primary-btn:hover,
#playAgain-btn:hover,
#homepage-btn:hover {
  color: #fff;
  background-color: rgba(245, 245, 245, 0.4);
  border-color: whitesmoke;
  padding: 0.1 rem 1.8rem;
  letter-spacing: 0.08rem;
  transition: all 0.2s ease-out;
}

/* Play page style */
.round {
  margin: 3rem 0rem;
  color: whitesmoke;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}
.playSection {
  display: flex;
  justify-content: space-around;
}

/* Player Section */
.title {
  color: whitesmoke;
  font-size: 2.5rem;
  margin: 0.5rem 0rem;
  text-align: center;
}
.playerChoice {
  display: flex;
  justify-content: center;
  height: 7.5rem;
  margin: 3rem 0rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.5s ease-in;
  border-radius: 0.5rem;
}

.playerChoice img:nth-child(1):hover,
.playerChoice img:nth-child(2):hover,
.playerChoice img:nth-child(3):hover,
.playerChoice:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.5s ease-out;
}
.playerChoice img {
  border-radius: 0.5rem;
  padding: 1rem;
}

/* computer section */
.computerChoice {
  position: relative;
  display: flex;
  justify-content: center;
  height: 7.5rem;
  margin: 3rem 0rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s ease-in;
  border-radius: 0.5rem;
}
img#computerChoice {
  padding: 1rem;
  opacity: 0;
  border-radius: 0.5rem;
}

/* double style*/
.player,
.computer {
  padding: 1rem;
  width: 24.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.playerStatus,
.computerStatus {
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1.5rem 0rem;
  text-align: center;
}
.pInfo-container,
.cInfo-container {
  display: flex;
  justify-content: center;
}
.pInfo,
.cInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 2rem;
  width: 6rem;
  font-size: 1.375rem;
  margin-top: 1rem;
  border: 0.1rem solid whitesmoke;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
}
.p-StarWrap,
.c-StarWrap {
  display: flex;
  justify-content: center;
  height: 3rem;
}

/* ===== Display Result ======== */
.resultDisplay,
.finalInfoWinner,
.container-display,
.showTotalRound,
.showFinalScore {
  /* border: 2px dotted white; */
  display: flex;
  justify-content: center;
}
.resultDisplay {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 186, 200, 0.95);
  animation: fadeIn 0.3s ease-in-out forwards;
}
.container-display {
  display: block;
  width: 40%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgb(64, 186, 200);
  background: linear-gradient(
    182deg,
    rgba(64, 186, 200, 1) 20%,
    rgba(48, 190, 162, 1) 75%
  );
  border-radius: 1rem;
  opacity: 0;
  transform: scale(0, 0);
  animation: popUp 0.25s ease-in-out forwards;
}
.showTotalRound {
  color: whitesmoke;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.finalInfoWinner {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  color: #ffd700;
  margin-top: 1rem;
}
.showFinalScore {
  color: whitesmoke;
  margin: 3rem 0rem;
  font-size: 7rem;
  font-family: Arial, Helvetica, sans-serif;
}

#playAgain-btn {
  margin-top: 3rem;
}

/* animtion for pop up result */
@keyframes popUp {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
